[Unit]
Description=Atualiza o Dallogix Trace para a última versão aprovada da master
Wants=network-online.target
After=network-online.target docker.service

[Service]
Type=oneshot
WorkingDirectory=/opt/dallogix-trace
Environment=PATH=/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/bash /opt/dallogix-trace/scripts/update_trace.sh
